@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');


.header{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.nav-list{
	display: flex;
	justify-content: flex-end;
	column-gap: 30px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: rgba(21, 118, 152, 1);
}
.main{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.my-name h1{
	padding-left: 30px;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 50px;
	color: rgba(21, 118, 152, 1);
}
.my-name span{
	font-weight: 300;
	color: rgba(169, 169, 169, 1);
}
.my-name h2{
	padding-left: 30px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: rgba(21, 118, 152, 1);
}
.preview{
	display: flex;
}
.preview img{
	max-width: 150px;
	padding-bottom: 5px;
}
.information{
	display: flex;
	flex-wrap: wrap;
}
.container{
	flex: 50%;
	max-width: 50%;
	padding: 5px;
	border-top: 1px solid rgb(20, 35, 41);
}
.information h2{
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: rgba(21, 118, 152, 1);
}
.inf-list{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 15px;
}
.information p{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 15px;
}
.footer {
	max-width: 1200px;
	margin: 0 auto;
  width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	font-weight: 300;
	color: rgba(169, 169, 169, 1);
	font-family: "Roboto", sans-serif;
	font-size: 10px;
}
.link::before{
	content: '©2022';
	padding-right: 5px;
}
.logo{
	width: 50px;
	height: auto;
}
@media (max-width: 768px){
	.nav-list{
		column-gap: 20px;
		font-size: 15px;
	}
}
@media (max-width: 560px){
	.nav-list{
		column-gap: 7px;
		font-size: 10px;
	}
	.my-name h1{
		padding-left: 15px;
		font-size: 30px;
	}
	.my-name h2{
		padding-left: 15px;
		font-size: 10px;
	}
	.preview img{
		max-width: 100px;
		padding-bottom: 5px;
	}
	.information h2{
		font-size: 15px;
	}
	.inf-list{
		font-size: 10px;
	}
	.information p{
		font-size: 10px;
	}
	.footer{

	}
}
@media (max-width: 350px){
	.nav-list{
		column-gap: 5px;
		font-size: 9px;
	}
	.my-name h1{
		padding-left: 15px;
		font-size: 25px;
	}
	.my-name h2{
		padding-left: 15px;
		font-size: 9px;
	}
	.preview img{
		max-width: 90px;
		padding-bottom: 5px;
	}
}